    *{
    font-family: DejaVu Sans Mono, monospace;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(238, 238, 238);
}
#icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
#name {
    position: absolute;
    left: 45px;
    top:22px;
    cursor: pointer;
}   
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(119, 119, 119);
    height: 50px;
    width: 100%;
    padding: 5px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
}
#bell {
    width: 20px;
    height: 20px;
    cursor: grab;
}
#bell:hover {
    color: rgb(207, 207, 207);
}

#side_menu {
    display: flex;
    padding: 5px;
    right: 10px;
    cursor: grab;
}

#button_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 10px;
}
#menu {
    display: none;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    right: 4%;
    top: 2%;
    background-color: #555;
    border-radius: 20px;
}
#menu p{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
#menu p:hover{
    color: black;
}
#paw_menu:hover {
    color: rgb(207, 207, 207);
}
#paw_menu:hover p{
    color: white;
}
#button_menu:hover #menu{
    display: flex;
    position: fixed;
}

#search {
    height: 18px;
    border-radius: 7px 0 0 7px;
    border: none;
    right: 0;
    cursor: pointer;
}

#search:hover {
    border: solid black 1.5px;
}
#micro {
    margin: 10px;
    cursor: grab;
}
#micro:hover {
    color: rgb(207, 207, 207);
}
#serching{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button {
    height: 20px;
    border: none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}
button:hover {
    border: solid 1.5px;
}

#top_bar {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: right;
    position: absolute;
    right: 0;
    width: 80%;
}
#pi {
    background-color: #555;
}
::-webkit-scrollbar {
    width: 7px;
    height: 0;
    position: absolute;
}
  
:-webkit-scrollbar-track {
    background: #f1f1f1; 
    position: absolute;
}
   

::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
#top_bar p {
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
    margin: 20px;
    width: 100px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
#top_bar p:hover{
    background-color: rgb(107, 107, 107);
    color: rgb(224, 224, 224);
}
#top_bar p:first-child{
    background-color: rgb(0, 0, 0);
    color: rgb(224, 224, 224);
}
#side_bar {
    overflow-y:hidden;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    top: 2px;
    background-color: rgb(119, 119, 119);
    font-size: large;
    max-height: 400px;
}
.link{
    position: absolute;
    left: 40%;
}
.link:hover {
    color: rgb(58, 58, 58);
}
.foll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.foll:hover{
    background-color: rgb(207, 207, 207);
}
#side_bar:hover{
    overflow-y: scroll;
}
#side {
    position: relative;
}

.streamers {
    background-color: rgb(66, 66, 66);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px;
}

.streamer {
    display: none;
    background-color: rgb(66, 66, 66);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 15px;
    margin: 15px;
}
#str{
    animation: kak 2s infinite;
}

#left_down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 17%;
    top: 464px;
    position: absolute;
    font-size: larger;
    background-color: rgb(119, 119, 119);
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px -1px 2px 0px rgba(0,0,0,1);
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,1);
    border-radius: 0 0 10px 10px ;
}
#icons:hover{
    color: rgb(207, 207, 207);
    transition: 0.8s;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 50px;
    bottom: 0;
    background-color: rgb(172, 172, 172);
    left: 0;
    border-radius: 10px 10px 0 0;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    width: 78%;
    right: 0;
    height: 70%;
    bottom: 60px;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
}
.video{
    padding: -20px;
    position: relative;
    width: 1fr;

}
#paw_video{
    display: none;
    position: absolute;
    left: 140px;
    top: 100px;
}
.preview:hover #paw_video{
    display: flex;
    z-index: 1;
}
.preview{
    width: 300px;
    height: 181.33px;    
    border: solid 1px black;
    cursor: pointer;
}
.preview:hover{
    filter: blur(2px);
    box-shadow: 0;
}
.live {
    position: absolute;
    left: 3px;
    top: -13px;
    background-color: rgb(255, 0, 0, 0.78);
    color: white;
    border-radius: 5px;
    animation: live 2s infinite;
    cursor:grab;
    z-index: 1;
}
nav{
    display: flex;
    right: 0;
    width: 200px;
    height: 70px;
    padding: 0;
    margin: 0;
}
.name_v{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 260px;
    cursor: pointer;
    position: relative;
    left: 40px;
    top: -8%;
}
.name_v:hover{
    color: rgb(97, 97, 97) ;
}
.sreamer_v{
    color: rgb(97, 97, 97);
    cursor: pointer;
    position: relative;
    left: 40px;
    top: -25%;
}
.viewers{
    position: absolute;
    top: 55.3%;
    left: 1.5%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 3px;
    cursor: grab;
    z-index: 1;
}
.stream_icon{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 200px;
}
::-moz-selection {
    color: rgb(97, 97, 97);
    background: rgb(199, 199, 199);
}
  
::selection {
    color: rgb(97, 97, 97);
    background: rgb(199, 199, 199);
}
@media (max-width: 1200px){
    main{
        grid-template-columns: 1fr 1fr;
    }
} 
@media (max-width: 800px){
    main{
        grid-template-columns: 1fr;
    }
} 
@media (max-width: 600px){
    #side_bar p{
        display: none;
    }
    .streamer{
        display: flex;
    }
    #search {
        display: none;
    }
    button {
        border-radius: 7px;
    }
}
@keyframes kak{
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
      }
      
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(209, 0, 0, 0);
      }
      
      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(231, 0, 0, 0);
      }
}
@keyframes live{
    0% {
        display: none; 
    }
    100% {
        display: flex; 
    }
}